In [3]:
import pandas as pd

In [44]:
data =  pd.read_csv('cleaned.csv')

In [45]:
data.head()

,Unnamed: 0,crime id,month,reported by,longitude,latitude,location,lsoa code,lsoa name,crime type,last outcome category,borough_london
0,0,fb5980f681cc55836191d8537790a1629eb264de22acdf...,2018-01,City of London Police,-0.106453,51.518207,On or near Charterhouse Street,E01000916,Camden 027B,Other theft,Investigation complete; no suspect identified,Camden
1,3,60bf92023cede4382d088f3ef60c6536aac816744bd3cb...,2018-01,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Burglary,Offender given community sentence,Camden
2,4,999497aac964c9cd1450eef9a88872a58b6ef2d09eaa99...,2018-01,City of London Police,-0.111962,51.518494,On or near Nightclub,E01000914,Camden 028B,Theft from the person,Investigation complete; no suspect identified,Camden
3,5,d43d952b5a96b62961bb4ae08460e50e5f572aa2ad639f...,2018-01,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Theft from the person,Investigation complete; no suspect identified,Camden
4,6,17a702873711fba20a71fbd278e2ce486349f458ccd531...,2018-01,City of London Police,-0.097562,51.518864,On or near Parking Area,E01000001,City of London 001A,Bicycle theft,Investigation complete; no suspect identified,City of London

In [46]:
data.shape

(2852859, 12)

In [15]:
#get  all dates
dates = data['month'].unique()
dates

array(['2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
       '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
       '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
       '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
       '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
       '2021-07', '2021-08', '2021-09'], dtype=object)

In [8]:
stringency = pd.read_csv('stringency.csv')

In [5]:
stringency.head()

         date  stringency
0  2020-03-01      37.484
1  2020-03-01      37.484
2  2020-03-01      37.484
3  2020-03-01      37.484
4  2020-03-01      37.484

In [9]:
#remove duplicate dates from stringency.csv
stringency_dups_rm = stringency.drop_duplicates()

In [10]:
stringency_dups_rm

           date  stringency
0    2020-03-01   37.484000
31   2020-04-01   79.630000
61   2020-05-01   74.045000
92   2020-06-01   70.978966
122  2020-07-01   65.184000
153  2020-08-01   67.560333
184  2020-09-01   65.611379
214  2020-10-01   67.901333
245  2020-11-01   68.100690
275  2020-12-01   86.885161
276  2021-01-01   86.885161
307  2021-02-01   87.480370
335  2021-03-01   79.536000
366  2021-04-01   64.303103
396  2021-05-01   61.156333
427  2021-06-01   52.539310
457  2021-07-01   48.179000
488  2021-08-01   43.980000
519  2021-09-01   42.034000

In [11]:
def change_date(item):
    
        return item[:7]

In [12]:
#change remove day from date column to match the main data
stringency_dups_rm['date'] = stringency_dups_rm['date'].apply(change_date)

<ipython-input-12-a145fbcd6881>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stringency_dups_rm['date'] = stringency_dups_rm['date'].apply(change_date)

In [13]:
stringency_dups_rm

        date  stringency
0    2020-03   37.484000
31   2020-04   79.630000
61   2020-05   74.045000
92   2020-06   70.978966
122  2020-07   65.184000
153  2020-08   67.560333
184  2020-09   65.611379
214  2020-10   67.901333
245  2020-11   68.100690
275  2020-12   86.885161
276  2021-01   86.885161
307  2021-02   87.480370
335  2021-03   79.536000
366  2021-04   64.303103
396  2021-05   61.156333
427  2021-06   52.539310
457  2021-07   48.179000
488  2021-08   43.980000
519  2021-09   42.034000

In [17]:
#create a set from dates from the stringency data file
set_A = set(stringency_dups_rm['date'])
set_A

{'2020-03',
 '2020-04',
 '2020-05',
 '2020-06',
 '2020-07',
 '2020-08',
 '2020-09',
 '2020-10',
 '2020-11',
 '2020-12',
 '2021-01',
 '2021-02',
 '2021-03',
 '2021-04',
 '2021-05',
 '2021-06',
 '2021-07',
 '2021-08',
 '2021-09'}

In [18]:
#create a set from dates from the main data file
set_B = set(dates)
set_B

{'2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12',
 '2020-01',
 '2020-02',
 '2020-03',
 '2020-04',
 '2020-05',
 '2020-06',
 '2020-07',
 '2020-08',
 '2020-09',
 '2020-10',
 '2020-11',
 '2020-12',
 '2021-01',
 '2021-02',
 '2021-03',
 '2021-04',
 '2021-05',
 '2021-06',
 '2021-07',
 '2021-08',
 '2021-09'}

In [23]:
#get the dates that have no stringency data
dates_no_stringency = set_B.difference(set_A)
dates_no_stringency = list(dates_no_stringency)

In [33]:
#create a data frame with dates with no stringency data
zeros = len(dates_no_stringency) * [0]
s_data = {'date': dates_no_stringency, 'stringency': zeros}

s_df = pd.DataFrame.from_dict(s_data)
s_df['stringency'] = s_df['stringency'].astype(float)
s_df

       date  stringency
0   2018-05         0.0
1   2020-02         0.0
2   2018-11         0.0
3   2019-02         0.0
4   2019-03         0.0
5   2019-01         0.0
6   2018-12         0.0
7   2018-07         0.0
8   2019-09         0.0
9   2019-12         0.0
10  2020-01         0.0
11  2019-06         0.0
12  2019-04         0.0
13  2018-04         0.0
14  2018-09         0.0
15  2019-08         0.0
16  2019-11         0.0
17  2018-03         0.0
18  2019-05         0.0
19  2018-06         0.0
20  2018-02         0.0
21  2018-10         0.0
22  2019-07         0.0
23  2018-01         0.0
24  2018-08         0.0
25  2019-10         0.0

In [38]:
#create a lsit of data frames
frames = [stringency_dups_rm, s_df]

In [41]:
#concatenate stringency df with the data frame with dates, for which there's no stringency
stringency_all_dates = pd.concat(
    frames,
    axis=0,
    join="outer",
    ignore_index=True,
    copy=True,
)
stringency_all_dates

       date  stringency
0   2020-03   37.484000
1   2020-04   79.630000
2   2020-05   74.045000
3   2020-06   70.978966
4   2020-07   65.184000
5   2020-08   67.560333
6   2020-09   65.611379
7   2020-10   67.901333
8   2020-11   68.100690
9   2020-12   86.885161
10  2021-01   86.885161
11  2021-02   87.480370
12  2021-03   79.536000
13  2021-04   64.303103
14  2021-05   61.156333
15  2021-06   52.539310
16  2021-07   48.179000
17  2021-08   43.980000
18  2021-09   42.034000
19  2018-05    0.000000
20  2020-02    0.000000
21  2018-11    0.000000
22  2019-02    0.000000
23  2019-03    0.000000
24  2019-01    0.000000
25  2018-12    0.000000
26  2018-07    0.000000
27  2019-09    0.000000
28  2019-12    0.000000
29  2020-01    0.000000
30  2019-06    0.000000
31  2019-04    0.000000
32  2018-04    0.000000
33  2018-09    0.000000
34  2019-08    0.000000
35  2019-11    0.000000
36  2018-03    0.000000
37  2019-05    0.000000
38  2018-06    0.000000
39  2018-02    0.000000
40  2018-10    0.000000
41  2019-07    0.000000
42  2018-01    0.000000
43  2018-08    0.000000
44  2019-10    0.000000

In [47]:
stringency_all_dates

       date  stringency
0   2020-03   37.484000
1   2020-04   79.630000
2   2020-05   74.045000
3   2020-06   70.978966
4   2020-07   65.184000
5   2020-08   67.560333
6   2020-09   65.611379
7   2020-10   67.901333
8   2020-11   68.100690
9   2020-12   86.885161
10  2021-01   86.885161
11  2021-02   87.480370
12  2021-03   79.536000
13  2021-04   64.303103
14  2021-05   61.156333
15  2021-06   52.539310
16  2021-07   48.179000
17  2021-08   43.980000
18  2021-09   42.034000
19  2018-05    0.000000
20  2020-02    0.000000
21  2018-11    0.000000
22  2019-02    0.000000
23  2019-03    0.000000
24  2019-01    0.000000
25  2018-12    0.000000
26  2018-07    0.000000
27  2019-09    0.000000
28  2019-12    0.000000
29  2020-01    0.000000
30  2019-06    0.000000
31  2019-04    0.000000
32  2018-04    0.000000
33  2018-09    0.000000
34  2019-08    0.000000
35  2019-11    0.000000
36  2018-03    0.000000
37  2019-05    0.000000
38  2018-06    0.000000
39  2018-02    0.000000
40  2018-10    0.000000
41  2019-07    0.000000
42  2018-01    0.000000
43  2018-08    0.000000
44  2019-10    0.000000

In [49]:
#merge the main data with the stringency data
data_with_stringency = data.merge(stringency_all_dates, left_on='month', right_on='date')

In [58]:
##remove unnecessary columns

#data_with_stringency.drop('date', axis = 1, inplace = True)
#data_with_stringency.drop('Unnamed: 0', axis = 1, inplace = True)

In [59]:
data_with_stringency

,crime id,month,reported by,longitude,latitude,location,lsoa code,lsoa name,crime type,last outcome category,borough_london,stringency
0,fb5980f681cc55836191d8537790a1629eb264de22acdf...,2018-01,City of London Police,-0.106453,51.518207,On or near Charterhouse Street,E01000916,Camden 027B,Other theft,Investigation complete; no suspect identified,Camden,0.000
1,60bf92023cede4382d088f3ef60c6536aac816744bd3cb...,2018-01,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Burglary,Offender given community sentence,Camden,0.000
2,999497aac964c9cd1450eef9a88872a58b6ef2d09eaa99...,2018-01,City of London Police,-0.111962,51.518494,On or near Nightclub,E01000914,Camden 028B,Theft from the person,Investigation complete; no suspect identified,Camden,0.000
3,d43d952b5a96b62961bb4ae08460e50e5f572aa2ad639f...,2018-01,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Theft from the person,Investigation complete; no suspect identified,Camden,0.000
4,17a702873711fba20a71fbd278e2ce486349f458ccd531...,2018-01,City of London Police,-0.097562,51.518864,On or near Parking Area,E01000001,City of London 001A,Bicycle theft,Investigation complete; no suspect identified,City of London,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
2852854,d49d548c9127dbb79b0b153503bee9e3cbb12baf3135e8...,2021-09,Metropolitan Police Service,-2.738497,52.971779,On or near Sports/Recreation Area,W01000346,Wrexham 018B,Violence and sexual offences,Under investigation,Wrexham,42.034
2852855,960363b17f573705f1d1a7beaf88d722107e2584e78e97...,2021-09,Metropolitan Police Service,-0.763189,51.631391,On or near West End Road,E01017905,Wycombe 013C,Violence and sexual offences,Under investigation,Wycombe,42.034
2852856,5c9d5057d94a6565dbb61e0bd9eed82b44bb972b11ff30...,2021-09,Metropolitan Police Service,-0.719917,51.632384,On or near Baring Road,E01017901,Wycombe 014C,Violence and sexual offences,Under investigation,Wycombe,42.034
2852857,1f66e25fcfeae30f28f7d8a6635a86dc35818282dea24f...,2021-09,Metropolitan Police Service,-0.762112,51.575397,On or near Holland Road,E01017897,Wycombe 023C,Violence and sexual offences,Under investigation,Wycombe,42.034
2852858,b66af17045d77941dbbabe4487a65968ba83c537d8562a...,2021-09,Metropolitan Police Service,-1.077078,53.959127,On or near The Stonebow,E01033067,York 013F,Violence and sexual offences,Under investigation,York,42.034

In [60]:
data_with_stringency.shape

(2852859, 12)

In [62]:
#save the data to csv

data_with_stringency.to_csv('data_with_stringency.csv', index = False)

In [63]:
data2 = pd.read_csv('data_with_stringency.csv')

In [64]:
data2

,crime id,month,reported by,longitude,latitude,location,lsoa code,lsoa name,crime type,last outcome category,borough_london,stringency
0,fb5980f681cc55836191d8537790a1629eb264de22acdf...,2018-01,City of London Police,-0.106453,51.518207,On or near Charterhouse Street,E01000916,Camden 027B,Other theft,Investigation complete; no suspect identified,Camden,0.000
1,60bf92023cede4382d088f3ef60c6536aac816744bd3cb...,2018-01,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Burglary,Offender given community sentence,Camden,0.000
2,999497aac964c9cd1450eef9a88872a58b6ef2d09eaa99...,2018-01,City of London Police,-0.111962,51.518494,On or near Nightclub,E01000914,Camden 028B,Theft from the person,Investigation complete; no suspect identified,Camden,0.000
3,d43d952b5a96b62961bb4ae08460e50e5f572aa2ad639f...,2018-01,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Theft from the person,Investigation complete; no suspect identified,Camden,0.000
4,17a702873711fba20a71fbd278e2ce486349f458ccd531...,2018-01,City of London Police,-0.097562,51.518864,On or near Parking Area,E01000001,City of London 001A,Bicycle theft,Investigation complete; no suspect identified,City of London,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
2852854,d49d548c9127dbb79b0b153503bee9e3cbb12baf3135e8...,2021-09,Metropolitan Police Service,-2.738497,52.971779,On or near Sports/Recreation Area,W01000346,Wrexham 018B,Violence and sexual offences,Under investigation,Wrexham,42.034
2852855,960363b17f573705f1d1a7beaf88d722107e2584e78e97...,2021-09,Metropolitan Police Service,-0.763189,51.631391,On or near West End Road,E01017905,Wycombe 013C,Violence and sexual offences,Under investigation,Wycombe,42.034
2852856,5c9d5057d94a6565dbb61e0bd9eed82b44bb972b11ff30...,2021-09,Metropolitan Police Service,-0.719917,51.632384,On or near Baring Road,E01017901,Wycombe 014C,Violence and sexual offences,Under investigation,Wycombe,42.034
2852857,1f66e25fcfeae30f28f7d8a6635a86dc35818282dea24f...,2021-09,Metropolitan Police Service,-0.762112,51.575397,On or near Holland Road,E01017897,Wycombe 023C,Violence and sexual offences,Under investigation,Wycombe,42.034
2852858,b66af17045d77941dbbabe4487a65968ba83c537d8562a...,2021-09,Metropolitan Police Service,-1.077078,53.959127,On or near The Stonebow,E01033067,York 013F,Violence and sexual offences,Under investigation,York,42.034